<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modier un livre</title>
</head>
<body>
    Modifier le livre id <span th:text="${livre.id}"></span>
    <div>
        <form th:action="@{/book-library/livre/save}" method="post">
            <input type="hidden" name="id" th:value="${livre.id}">
            <select name="auteur">
                <option th:each="auteur: ${auteurs}" th:value="${auteur.id}" th:text="${auteur.nom}" th:selected="${auteur.id == livre.auteur}"></option>
            </select>
            <input type="text" name="titre" th:value="${livre.titre}">
            <input type="text" name="isbn" th:value="${livre.isbn}">
            <input type="text" name="numero_cote" th:value="${livre.numero_cote}">
            <select name="editeur">
                <option th:each="editeur: ${editeurs}" th:value="${editeur.id}" th:text="${editeur.designation}" th:selected="${editeur.id == livre.editeur}"></option>
            </select>
            <input type="date" name="date_edition" th:value="${livre.date_edition}">
            <input type="number" name="tome" th:value="${livre.tome}">
            <select name="collection">
                <option th:each="collection: ${collections}" th:value="${collection.id}" th:text="${collection.designation}" th:selected="${collection.id == livre.collection}"></option>
            </select>
            <select name="langue">
                <option th:each="langue: ${langues}" th:value="${langue.code}" th:text="${langue.designation}" th:selected="${langue.code == livre.langue}"></option>
            </select>
            <input type="number" name="nombre_pages" th:value="${livre.nombre_pages}">
            <input type="submit">
        </form>
    </div>
</body>
</html>