.my-title {
    font-family: "Alfa Slab One";
    color: #20f039;
}

.my-text {
    font-family: "Montserrat Medium";
    color: #ffffff;
}

.my-form {
    background-color: #0e0e0e;
    color: #ffffff;
}
.my-form::placeholder {
    color: #20f039;
}
.my-form:focus {
    box-shadow: none;
    border-color: #20f039;
    background-color: #0e0e0e;
    color: #ffffff;
}

.my-btn {
    background-color: #20f039;
}

.my-active {
    background-color: #20f039;
    color: #0e0e0e;
}
.my-active:hover {
    color: #ffffff;
}

.my-card {
    background: none;
    border-color: #20f039;
    border-width: 1px;
}

.label-small {
   transform: scale(0.5);
}

.my-link {
    text-decoration: underline;
    color: #ffffff;
}
.my-link:hover {
    text-decoration: underline;
    color: #20f039;
}